body{

    font-family: sans-serif;

}

header{

    background-color: hsl(0, 0%, 11%);
    color: white;

}

header > nav > ul > li > a{

    color: white;

}

main > section > p{

    text-indent: 1em;
    
}